
:root {
    --primary-bg: #f3f4f6;
    --container-bg: #ffffff12;
    --section-bg: #e5e7eb0a;
    --card-bg: #ffffff;
    --text-color: #374151;
    --heading-color: #4886d5;
    /* --heading-color: #1f2937; */
    --divider-color: #d1d5db;
    --border-radius-xl: 1.5rem; 
    --border-radius-2xl: 1rem; 
    --border-radius-full: 9999px;
    --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding: 1rem;
    /* background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%); */
    background-image: url("./assets/deepspace.png");
    background-position: center;
    animation: scrollBackground 90s alternate-reverse linear infinite;
}

.container {
    background-color: var(--container-bg);
    border-radius: var(--border-radius-xl);
    box-shadow: var(--shadow-xl);
    max-width: 80rem;
    width: 100%;
    padding: 2.5rem;
    box-sizing: border-box;
}

.profile-section {
    display: flex;
    align-items: flex-start;
    text-align: left;
    gap: 2rem;
    margin-bottom: 2rem;
}

.profile-image-container {
    background-color: transparent;
    border-radius: var(--border-radius-2xl);
    width: 25rem; 
    height: 25rem;
    transition: .4s ease-in-out;
    /* width: 9rem; 
    height: 9rem; */
    flex-shrink: 0;
    overflow: hidden;
    animation: onLoadTranslateY .5s ease-in forwards;
}


.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-2xl);
    transition: .3s ease-in-out;
}

.profile-image:hover {
    transform: scale(.95);
}

.profile-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition: .2s ease;
    opacity: 0;
    animation: onLoadScale .5s .5s ease-in forwards;
}

.name-container {
    background-color: var(--section-bg);
    border-radius: var(--border-radius-full);
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 1rem;
    transition: .2s ease;
}

.profile-name {
    font-size: 2rem;
    font-weight: 700;
    margin: 0 1rem;
    color: var(--heading-color);
    transition: .2s ease;
}

.profile-bio {
    color: #fff;
    line-height: 1.5;
    font-size: 1.2rem;
}

.skills-section {
    background-color: var(--section-bg);
    border-radius: var(--border-radius-xl);
    padding: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.section-heading {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--heading-color);
    margin: 1rem 0;
}

.skills-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.skills-card {
    background-color: var(--card-bg);
    border-radius: var(--border-radius-2xl);
    box-shadow: var(--shadow-md);
    padding: 1.5rem;
    width: 100%;
    transition: .3s ease;
}

.skills-card:hover{
    transition: .3s ease;
    transform: translateY(-.5rem);
}

.skills-card-heading {
    font-size: 1.125rem;
    font-weight: 700;
    color: var(--heading-color);
    margin-bottom: 0.75rem;
    text-align: center;
}

.skills-list {
    list-style-type: disc;
    list-style-position: inside;
    color: var(--text-color);
    font-size: 0.875rem;
    line-height: 1.5;
    text-align: left;
}

.experience-education-section {
    background-color: var(--section-bg);
    border-radius: var(--border-radius-xl);
    padding: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.experience-education-section hr{
    margin: 1rem 0;
    border: 0;
    border-top: 1px solid var(--divider-color);
}

.experience-container, .education-container {
    width: 100%;
}

.experience-card, .education-card {
    background-color: var(--card-bg);
    border-radius: 0.75rem;
    box-shadow: var(--shadow-md);
    padding: 1rem;
    font-size: 0.875rem;
    color: var(--text-color);
    margin-bottom: 1rem;
    transition: .3s ease;
}


.experience-card:hover, .education-card:hover{
    transform: translateY(-.5rem);
}

.job-title, .degree-name {
    font-weight: 600;
    font-size: 1rem;
    color: #2c5282;
}

.company-name, .university-name {
    font-weight: 300;
    color: #38b2ac;
}

.job-description {
    margin-top: 0.5rem;
    font-size: 0.75rem;
}

.tag {
    background-color: #e6fffa; 
    color: #2c7a7b; 
    padding: 0.25rem 0.75rem;
    border-radius: 9999px;
    font-size: 0.75rem;
    font-weight: 500; 
}

.social-links {
    background-color: var(--section-bg);
    border-radius: var(--border-radius-full);
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 1rem;
    margin: 5rem 0;
    transition: .2s ease;
    opacity: 0;
    animation: onLoadTranslateX 1s .5s ease-in-out forwards;
}

.social-links a {
    color: #6b7280;
    text-decoration: none;
    transition: 0.3s ease;
    margin: 0 0.5rem;
    display: flex;
    align-items: center;
}

.social-links a svg {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
}

.social-links a:hover {
    color: #38b2ac;
    transform: scale(1.1);
}

@keyframes scrollBackground {
    from {
        background-size: 200%;
    }
    to {
        background-size: 100%;
    }
}

@keyframes onLoadScale {
    from {
        opacity: 1;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes onLoadTranslateY {
    from {
        transform: translateY(-100vh);
    }
    to {
        transform: translateY(0);
    }
}
@keyframes onLoadTranslateX {
    from {
        opacity: 1;
        transform: translateX(-100vw);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media (max-width: 768px) {
    body {
        padding: 0.5rem;
    }
    
    .container {
        padding: 1.5rem;
    }

    .profile-section {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1rem; 
    }

    .profile-image-container {
        width: 15rem;
        height: 15rem;
    }

    .profile-info {
        align-items: center;
    }

    .name-container {
        height: 3rem;
        justify-content: center;
    }

    .profile-name {
        font-size: 1.5rem;
        margin: 0 0.5rem;
    }

    .profile-bio {
        font-size: 1rem;
    }

    .social-links {
        margin: 2rem 0;
        padding: .5rem;
        justify-content: center; 
        flex-wrap: wrap; 
        height: auto;
    }
    
    .social-links a {
        margin: 0.5rem 0.5rem;
    }
    
    .skills-section{
        padding: 1.5rem;
    }

    .skills-container {
        flex-direction: column;
        gap: 1rem; 
    }

    .skills-card{
        width: auto;
    }

    .skills-list{
        padding-left: .5rem;
        text-wrap: wrap;
    }
    
    .experience-education-section {
        padding: 1.5rem;
    }

    .experience-card, .education-card {
        padding: 0.75rem;
    }

    .tag-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}